.Wrapper {
  width: 100%;
  height: 100%;
}

.InputWrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.Form {
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 25px;

  @media (width >= 650px) {
    max-width: 650px;
  }
}

.Link {
  display: flex;
  margin-bottom: 15px;
  gap: 5px;
}

.Button {
  width: 100%;
}

.Title {
  text-align: center;
}
