.Wrapper {
  max-width: 320px;
  border: 25px;
  border-radius: 15px;
  margin: 0 auto;
  background-color: var(--colors-white);
  box-shadow: 18px 6px 45px #e3e3e3;

  @media (width >= 768px) {
    max-width: 1100px;
  }
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;

  @media (width >= 768px) {
    flex-direction: row;
    gap: 15px;
  }

  @media (width >= 820px) {
    gap: 25px;
  }
}

.Info {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  gap: 25px;

  @media (width >= 768px) {
    gap: 10px;
  }

  @media (width >= 820px) {
    justify-content: space-between;
    margin-bottom: 0;
    gap: 25px;
  }
}

.Img {
  width: 250px;
  margin-bottom: 15px;

  @media (width >= 768px) {
    width: 200px;
  }

  @media (width >= 820px) {
    width: 220px;
    margin-bottom: 0;
  }
}

.Title {
  font-weight: 500;
}

.Description {
  color: var(--colors-gray-900);
}

.Price {
  font-size: 18px;
  text-align: center;

  @media (width >= 768px) {
    text-align: start;
  }
}

.Buttons {
  display: flex;
}

.BtnToCart {
  all: unset;
  min-width: 150px;
  padding: 6px 0;
  color: var(--colors-blue-700);
  cursor: pointer;
  text-align: center;

  &:hover {
    color: var(--colors-blue-800);
  }
}

.Button {
  all: unset;
  color: var(--colors-blue-700);
  cursor: pointer;
  text-align: center;

  &:hover {
    color: var(--colors-blue-800);
  }
}

.Quantity {
  display: flex;
  min-width: 150px;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
